.hoverText {
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: inline-block; /* Necessário para o transform funcionar */
}

.hoverText:hover {
  transform: translateY(-10px) scale(1.2);
  transition-duration: 0.1s;
}